.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  } 

  p{
    font-size: 30px;
  }

  h2 {
    font-size: 40px;
  }

  button{
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
  }